<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Clever - Education &amp; Courses Template | Blog</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a ><span>Phone:</span> +44 300 303 0266</a>
                <a ><span>Email:</span> <span class="__cf_email__" data-cfemail="94fdfaf2fbd4f7f8f1e2f1e6baf7fbf9">[email&#160;protected]</span></a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a ><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a ><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" ><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'course_view' %}?page=1">Courses</a></li>
                                <li><a href="{% url 'instructor' %}">Instructors</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="index.html#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            {% if user.is_authenticated %}
                                <div class="register-login-area">
                                    <a href="{% url 'logout' %}" class="btn active">logout</a>
                                </div>
                            {% else %}
                                <div class="register-login-area">
                                    <a href="{% url 'register' %}" class="btn">Register</a>
                                    <a href="{% url 'login' %}" class="btn active">Login</a>
                                </div>
                            {% endif %}

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="blog-area blog-page section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="blog-catagories mb-70 d-flex flex-wrap justify-content-between">
                        {% for category in categories %}
                            <div class="single-catagories bg-img" style="background-image: url({% static 'img/bg-img/bc1.jpg' %});">
                                <a href="{% url 'blog' %}?category={{category.title}}">
                                    <h6>{{category.title}}</h6>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="single-catagories bg-img" style="background-image: url({% static 'img/bg-img/bc1.jpg' %});">
                                <a href="{% url 'blog' %}">
                                    <h6>All</h6>
                                </a>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for blog in blogs %}
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
                            <div style="background-image: url({{blog.img.url}}); width: 697px; height: 300px;
                             background-size: cover; background-repeat: no-repeat;background-position: center; border-radius: 10px"></div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="{% url 'blog_detail' blog.id %}" class="blog-headline">
                                    <h4>{{blog.name}}</h4>
                                </a>
                                <div class="meta d-flex align-items-center">
                                    <a href="{% url 'blog_detail' blog.id %}">{{blog.author}}</a>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    <a href="{% url 'blog_detail' blog.id %}">{{blog.category}}</a>
                                </div>
                                <p>{{blog.description}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                    {% if blogs.has_previous %}
                        <a href="{% url 'blog' %}{% if category %}?category={{category}}&page={{blogs.previous_page_number}}{% else %}?page={{blogs.previous_page_number}}{% endif %}">back</a>
                    {% endif %}
                        <p style="margin-top: 15px;">{{blogs.number}} of {{blogs.paginator.num_pages}}</p>
                    {% if blogs.has_next %}
                        <a href="{% url 'blog' %}{% if category %}?category={{category}}&page={{blogs.next_page_number}}{% else %}?page={{blogs.next_page_number}}{%endif%}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a ><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite -->
                        <p><a href=""><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a ><span>Phone:</span> +44 300 303 0266</a>
                <a ><span>Email:</span> <span class="__cf_email__" data-cfemail="6e070008012e0d020b180b1c400d0103">[email&#160;protected]</span></a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Follow us</span>
                <a ><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="{% static 'https://www.googletagmanager.com/gtag/js?id=UA-23581568-13' %}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

    
</body>

</html>